.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: rgba(26, 26, 64, 0.6);
  backdrop-filter: blur(10px);
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid yellow;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.list-unstyle {
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.menu-item {
  font-weight: 500;
  color: #eeeeee;
  cursor: pointer;
}

.list-unstyle li a {
  text-decoration: none;
  font-weight: 500;
  color: #eeeeee;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.list-unstyle li a:hover {
  color: #ffffff;
  border-bottom: 1px solid yellow;
}

/* Responsive styles */
@media (max-width: 992px) {
  
  .hamburger {
    display: block;
  }

  .list-unstyle {
    position: absolute;
    top: 70px;
    right: 0px;
    background: rgba(26, 26, 64, 0.95);
    flex-direction: column;
    width: 250px;
    padding: 0px;
    align-items: start;
    padding-left: 10px;
    border-radius: 10px;
    gap: 0;
    display: none; /* Hidden by default */
    opacity: 0; /* Ensure it's invisible when hidden */
    transition: opacity 0.3s ease; /* Smooth transition for fade effect */
  }

  .list-unstyle.menu-open {
    display: flex; /* Display menu when open */
    opacity: 1; /* Make it visible */
  }

  .list-unstyle li {
    margin: 10px 0;
  }
}
